body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px;
}